
{% extends "app/base.html" %}
{% load static %}
{% block title %} Mythstrip | Điểm đến {% endblock title %}
{% block  content%}
        
        
        <!-- Destination Start -->
        <div class="container-fluid destination py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Điểm Đến</h5>
                    <h1 class="mb-0">Điểm đến phổ biến</h1>
                </div>
                <div class="tab-class text-center">
                    
                    <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                        {% for destination in destinations %}
                        <li class="nav-item">
                            <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" href="#{{ destination.country|slugify }}">
                                <span class="text-dark" style="width: 150px;">{{ destination.country }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for destination in destinations %}
                        <div id="{{ destination.country|slugify }}" class="tab-pane fade {% if forloop.first %}show active{% endif %} p-0">
                            <div class="row g-4">
                                {% for image in destination.images.all %}
                                <div class="col-lg-4">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" style='height:300px; object-fit: cover' src="{{ image.image.url }}" alt="{{ image.destination.country }}">
                                        <div class="destination-overlay p-4">
                                            <a href="#" class="btn btn-primary text-white rounded-pill border py-2 px-3">20 Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ image.name }}</h4>
                                            <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="{{ image.image.url }}" data-lightbox="{{ image.name }}"><i class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Destination End -->

        

        
        

{% endblock %}