{% extends "app/base1.html" %}
{% load static %}
{% block title %} Mythstrip{% endblock title %}
{% block  content%}


        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4"></h1>
            </div>
        </div>
        <!-- Header End -->
        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    
                    <div class="col-lg-12" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h2>T&agrave;i khoản ng&acirc;n h&agrave;ng nhận ho&agrave;n tiền</h2>

                        <p>Bằng c&aacute;ch gửi th&ocirc;ng tin chi tiết về t&agrave;i khoản ng&acirc;n h&agrave;ng của bạn trong trang T&agrave;i khoản ng&acirc;n h&agrave;ng nhận ho&agrave;n tiền, bạn xem như đ&atilde; đọc, hiểu v&agrave; đồng &yacute; với tất cả nội dung trong Điều khoản sử dụng của T&agrave;i khoản ng&acirc;n h&agrave;ng</p>

                        <ol>
                            <li>Bạn phải n&ecirc;u ch&iacute;nh x&aacute;c v&agrave; ch&iacute;nh x&aacute;c số t&agrave;i khoản ng&acirc;n h&agrave;ng được sử dụng cho qu&aacute; tr&igrave;nh ho&agrave;n tiền.</li>
                            <li>T&agrave;i khoản ng&acirc;n h&agrave;ng bạn cung cấp phải l&agrave; số t&agrave;i khoản ng&acirc;n h&agrave;ng đ&atilde; đăng k&yacute; tại Mythstrip v&agrave; sẽ l&agrave; t&agrave;i khoản duy nhất được sử dụng cho c&aacute;c giao dịch ho&agrave;n tiền bất cứ khi n&agrave;o bạn gửi y&ecirc;u cầu ho&agrave;n tiền cho Mythstrip v&agrave;/hoặc được Mythstrip xử l&yacute; ho&agrave;n tiền tự động.</li>
                            <li>Đối với việc gửi y&ecirc;u cầu ho&agrave;n tiền trước khi c&aacute;c điều khoản sử dụng n&agrave;y được đưa v&agrave;o &aacute;p dụng, khoản tiền ho&agrave;n lại sẽ được chuyển trực tiếp v&agrave;o số t&agrave;i khoản Bạn đ&atilde; đăng k&yacute;.</li>
                            <li>Y&ecirc;u cầu ho&agrave;n tiền chỉ c&oacute; thể được thực hiện th&ocirc;ng qua T&agrave;i Khoản Người D&ugrave;ng Mythstrip đ&atilde; được sử dụng để thực hiện giao dịch đặt chỗ ban ban đầu.</li>
                            <li>Bạn tuy&ecirc;n bố rằng khoản tiền ho&agrave;n lại kh&ocirc;ng li&ecirc;n quan đến c&aacute;c hoạt động rửa tiền, t&agrave;i trợ khủng bố hoặc bất kỳ hoạt động tội phạm n&agrave;o kh&aacute;c. Bạn đảm bảo sẽ miễn trừ cho Mythstrip khỏi mọi nghĩa vụ v&agrave; tr&aacute;ch nhiệm ph&aacute;p l&yacute; li&ecirc;n quan đến việc ho&agrave;n tiền do Bạn y&ecirc;u cầu.</li>
                            <li>Trong phạm vi được ph&aacute;p luật hiện h&agrave;nh cho ph&eacute;p, Mythstrip c&oacute; quyền từ chối hoặc hủy quy tr&igrave;nh ho&agrave;n tiền nếu bạn hoặc quy tr&igrave;nh ho&agrave;n tiền được y&ecirc;u cầu bị nghi ngờ c&oacute; li&ecirc;n quan tới, hoặc nếu c&oacute; yếu tố cấu th&agrave;nh h&agrave;nh vi phạm tội, bao gồm nhưng kh&ocirc;ng giới hạn ở rửa tiền /khủng bố, gian lận, lừa đảo v&agrave; trộm cắp.</li>
                            <li>Nếu cần thiết trong qu&aacute; tr&igrave;nh ho&agrave;n tiền, Bạn c&oacute; thể được y&ecirc;u cầu cung cấp th&ecirc;m th&ocirc;ng tin, chẳng hạn như bản sao Căn cước c&ocirc;ng d&acirc;n v&agrave;/hoặc c&aacute;c t&agrave;i liệu cần c&oacute; kh&aacute;c.</li>
                            <li>Mythstrip kh&ocirc;ng chịu tr&aacute;ch nhiệm về bất kỳ h&agrave;nh vi vi phạm ph&aacute;p luật n&agrave;o được thực hiện th&ocirc;ng qua quy tr&igrave;nh thanh to&aacute;n ho&agrave;n tiền n&agrave;y.</li>
                            <li>Mythstrip kh&ocirc;ng chịu tr&aacute;ch nhiệm về t&iacute;nh x&aacute;c thực hoặc ch&iacute;nh x&aacute;c của th&ocirc;ng tin bạn gửi tr&ecirc;n biểu mẫu n&agrave;y.</li>
                        </ol>

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        

{% endblock %}