{% extends "app/base1.html" %}
{% load static %}
{% block title %} Mythstrip | Subscribe {% endblock title %}
{% block  content%}


<!-- Subscribe Start -->
<div class="container-fluid subscribe py-5">
    <div class="container text-center py-5">
        
        <div class="mx-auto text-center" style="max-width: 900px;">
            
            <h5 class="subscribe-title px-3">Theo dõi</h5>
            <h1 class="text-white mb-4">Bản tin của chúng tôi</h1>
            <p class="text-white mb-5">Đừng quên đăng ký để nhận bản tin trong tương lai của chúng tôi trực tiếp vào hộp thư đến của bạn. Mythstrip sẽ luôn cung cấp những thông tin mới nhất và hữu ích nhất giúp bạn lên kế hoạch cho những chuyến đi tốt nhất!
            </p>
            <form method="POST" action="{% url 'subscribe' %}">
                {% csrf_token %}
                {{ result|safe }}
                <div class="position-relative mx-auto">
                        <input name='email' class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="email" placeholder="Your email" required>
                        <button type="submit" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Đăng ký</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->


{% endblock %}