{% extends "app/base1.html" %}
{% load static %}
{% block title %} Mythstrip | Giới Thiệu {% endblock title %}
{% block  content%}


        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Viator</h1>
            </div>
        </div>
        <!-- Header End -->
        <!-- Explore Tour Start -->
        <div class="container-fluid ExploreTour py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Khám phá chuyến tham quan</h5>
                    <h1 class="mb-4">Thế giới</h1>
                    <p class="mb-0">Chào mừng quý khách đến với <b>Mythstrip</b> - Công ty du lịch hàng đầu trong việc tổ chức các chuyến tham quan độc đáo và không gian tuyệt vời trên toàn thế giới. Chúng tôi rất vinh dự được hợp tác với <b>Viator</b>, một trong những nền tảng đặt tour hàng đầu thế giới, để mang đến cho quý khách những trải nghiệm du lịch đáng nhớ.
                    </p><br>
                    <p>Dưới đây là một số tour đặc sắc mà quý khách có thể tham gia thông qua <b>Mythstrip</b> trên <b>Viator</b>:</p>
                </div>
                <div class="tab-class text-center">
                    <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="">
                                <span class="text-dark" style="width: 250px;">Đặt tour cùng Viator</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="">
                                <span class="text-dark" style="width: 250px;">Du lịch quốc tế</span>
                            </a>
                        </li> -->
                    </ul>
                    <div class="tab-content">
                        <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item ">
                                        <img src="{% static 'app/img/explore-tour-1.jpg' %}" class="img-fluid w-100 rounded" alt="Image" style="height: 280px;">
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h6 class="text-white text-uppercase mb-2">Chuyến du lịch Châu Âu</h6>
                                                <a href="https://www.viator.com/searchResults/all?text=europe&pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="btn-hover text-white">Xem thêm <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <div class="national-plus-icon">
                                            <a href="https://www.viator.com/searchResults/all?text=europe&pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item">
                                        <img src="{% static 'app/img/uc.jpg' %}" class="img-fluid w-100 rounded" alt="Image" style="height: 280px;">
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h6 class="text-white text-uppercase mb-2">Những điều không thể bỏ lỡ tại Úc</h6>
                                                <a href="https://www.viator.com/Australia/d22-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="btn-hover text-white">Xem thêm <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <div class="national-plus-icon">
                                            <a href="https://www.viator.com/Australia/d22-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item">
                                        <img src="{% static 'app/img/nauy.jpg' %}" class="img-fluid w-100 rounded" alt="Image" style="height: 280px;">
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h6 class="text-white text-uppercase mb-2">Na uy huyền bí</h6>
                                                <a href="https://www.viator.com/Norway/d61-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="btn-hover text-white">Xem thêm <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <!-- <div class="tour-offer bg-info">15% Off</div> -->
                                        <div class="national-plus-icon">
                                            <a href="https://www.viator.com/Norway/d61-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item">
                                        <img src="{% static 'app/img/my.jpg' %}" class="img-fluid w-100 rounded" alt="Image" style="height: 280px;">
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h6 class="text-white text-uppercase mb-2">Tham quan Mỹ</h6>
                                                <a href="https://www.viator.com/searchResults/all?text=america&pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="btn-hover text-white">Xem thêm <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <div class="national-plus-icon">
                                            <a href="https://www.viator.com/searchResults/all?text=america&pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item">
                                        <img src="{% static 'app/img/tnk.jpg' %}" class="img-fluid w-100 rounded" alt="Image" style="height: 280px;">
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h6 class="text-white text-uppercase mb-2">Dấu ấn Thổ Nhĩ Kỳ</h6>
                                                <a href="https://www.viator.com/Turkey/d70-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="btn-hover text-white">Xem thêm <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <!-- <div class="tour-offer bg-warning">50% Off</div> -->
                                        <div class="national-plus-icon">
                                            <a href="https://www.viator.com/Turkey/d70-ttd?pid=P00172037&mcid=42383&medium=link&medium_version=selector" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Explore Tour Start -->

        <!-- Subscribe Start -->
        <div class="container-fluid subscribe py-5">
            <div class="container text-center py-5">
                
                <div class="mx-auto text-center" style="max-width: 900px;">
                    
                    <h5 class="subscribe-title px-3">Theo dõi</h5>
                    <h1 class="text-white mb-4">Bản tin của chúng tôi</h1>
                    <p class="text-white mb-5">Đừng quên đăng ký để nhận bản tin trong tương lai của chúng tôi trực tiếp vào hộp thư đến của bạn. Mythstrip sẽ luôn cung cấp những thông tin mới nhất và hữu ích nhất giúp bạn lên kế hoạch cho những chuyến đi tốt nhất!
                    </p>
                    <div class="position-relative mx-auto">
                        <form method="POST" action="{% url 'subscribe' %}">
                            {% csrf_token %}
                            <input name='email' class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="email" placeholder="Your email" required>
                            <button type="submit" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subscribe End -->
        

{% endblock %}